/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
}
header {
  background: #ffffff;
  color: #272044;
  padding: 20px 0;
  text-align: center;
}
header h1 {
  margin: 0;
}
section {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
h2 {
  color: #272044;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
label {
  font-weight: bold;
}
input,
button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
input:focus {
  outline: none;
  border-color: #885df1;
}
button {
  background-color: #272044;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #885df1;
}
.success-message {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
